table {
width:40%;
height:70%;
border: 1px solid black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.imgBoxAlligator
  {
    width: 260px;
    height: 202px;
    background:url("images/alligator.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxAlligator:hover {
      width: 260px;
      height: 202px;
      background:url("images/alligatorpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxAnt
  {
    width: 260px;
    height: 202px;
    background:url("images/ant.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxAnt:hover {
      width: 260px;
      height: 202px;
      background:url("images/antpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxBat
  {
    width: 260px;
    height: 202px;
    background:url("images/bat.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxBat:hover {
      width: 260px;
      height: 202px;
      background:url("images/batpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxBear
  {
    width: 260px;
    height: 202px;
    background:url("images/bear.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxBear:hover {
      width: 260px;
      height: 202px;
      background:url("images/bearpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxBee
  {
    width: 260px;
    height: 202px;
    background:url("images/bee.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxBee:hover {
      width: 260px;
      height: 202px;
      background:url("images/beepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxBird
  {
    width: 260px;
    height: 202px;
    background:url("images/bird.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxBird:hover {
      width: 260px;
      height: 202px;
      background:url("images/birdpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxButterfly
  {
    width: 260px;
    height: 202px;
    background:url("images/butterfly.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxButterfly:hover {
      width: 260px;
      height: 202px;
      background:url("images/butterflypressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxCamel
  {
    width: 260px;
    height: 202px;
    background:url("images/camel.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxCamel:hover {
      width: 260px;
      height: 202px;
      background:url("images/camelpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxCat
  {
    width: 260px;
    height: 202px;
    background:url("images/cat.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxCat:hover {
      width: 260px;
      height: 202px;
      background:url("images/catpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxCheetah
  {
    width: 260px;
    height: 202px;
    background:url("images/cheetah.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxCheetah:hover {
      width: 260px;
      height: 202px;
      background:url("images/cheetahpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxChicken
  {
    width: 260px;
    height: 202px;
    background:url("images/chicken.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxChicken:hover {
      width: 260px;
      height: 202px;
      background:url("images/chickenpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxCow
  {
    width: 260px;
    height: 202px;
    background:url("images/cow.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxCow:hover {
      width: 260px;
      height: 202px;
      background:url("images/cowpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxCrab
  {
    width: 260px;
    height: 202px;
    background:url("images/crab.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxCrab:hover {
      width: 260px;
      height: 202px;
      background:url("images/crabpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxDeer
  {
    width: 260px;
    height: 202px;
    background:url("images/deer.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxDeer:hover {
      width: 260px;
      height: 202px;
      background:url("images/deerpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxDog
  {
    width: 260px;
    height: 202px;
    background:url("images/dog.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxDog:hover {
      width: 260px;
      height: 202px;
      background:url("images/dogpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxDolphin
  {
    width: 260px;
    height: 202px;
    background:url("images/dolphin.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxDolphin:hover {
      width: 260px;
      height: 202px;
      background:url("images/dolphinpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxDonkey
  {
    width: 260px;
    height: 202px;
    background:url("images/donkey.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxDonkey:hover {
      width: 260px;
      height: 202px;
      background:url("images/donkeypressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxDuck
  {
    width: 260px;
    height: 202px;
    background:url("images/duck.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxDuck:hover {
      width: 260px;
      height: 202px;
      background:url("images/duckpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxEagle
  {
    width: 260px;
    height: 202px;
    background:url("images/eagle.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxEagle:hover {
      width: 260px;
      height: 202px;
      background:url("images/eaglepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxElephant
  {
    width: 260px;
    height: 202px;
    background:url("images/elephant.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxElephant:hover {
      width: 260px;
      height: 202px;
      background:url("images/elephantpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxFish
  {
    width: 260px;
    height: 202px;
    background:url("images/fish.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxFish:hover {
      width: 260px;
      height: 202px;
      background:url("images/fishpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxFlamingo
  {
    width: 260px;
    height: 202px;
    background:url("images/flamingo.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxFlamingo:hover {
      width: 260px;
      height: 202px;
      background:url("images/flamingopressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxFly
  {
    width: 260px;
    height: 202px;
    background:url("images/fly.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxFly:hover {
      width: 260px;
      height: 202px;
      background:url("images/flypressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxFox
  {
    width: 260px;
    height: 202px;
    background:url("images/fox.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxFox:hover {
      width: 260px;
      height: 202px;
      background:url("images/foxpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxFrog
  {
    width: 260px;
    height: 202px;
    background:url("images/frog.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxFrog:hover {
      width: 260px;
      height: 202px;
      background:url("images/frogpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxGiraffe
  {
    width: 260px;
    height: 202px;
    background:url("images/giraffe.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxGiraffe:hover {
      width: 260px;
      height: 202px;
      background:url("images/giraffepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxGoat
  {
    width: 260px;
    height: 202px;
    background:url("images/goat.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxGoat:hover {
      width: 260px;
      height: 202px;
      background:url("images/goatpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxHippo
  {
    width: 260px;
    height: 202px;
    background:url("images/hippo.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxHippo:hover {
      width: 260px;
      height: 202px;
      background:url("images/hippopressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxHorse
  {
    width: 260px;
    height: 202px;
    background:url("images/horse.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxHorse:hover {
      width: 260px;
      height: 202px;
      background:url("images/horsepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxHyena
  {
    width: 260px;
    height: 202px;
    background:url("images/hyena.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxHyena:hover {
      width: 260px;
      height: 202px;
      background:url("images/hyenapressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxJellyfish
  {
    width: 260px;
    height: 202px;
    background:url("images/jellyfish.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxJellyfish:hover {
      width: 260px;
      height: 202px;
      background:url("images/jellyfishpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxKangaroo
  {
    width: 260px;
    height: 202px;
    background:url("images/kangaroo.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxKangaroo:hover {
      width: 260px;
      height: 202px;
      background:url("images/kangaroopressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxLeopard
  {
    width: 260px;
    height: 202px;
    background:url("images/leopard.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxLeopard:hover {
      width: 260px;
      height: 202px;
      background:url("images/leopardpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxLion
  {
    width: 260px;
    height: 202px;
    background:url("images/lion.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxLion:hover {
      width: 260px;
      height: 202px;
      background:url("images/lionpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxLizard
  {
    width: 260px;
    height: 202px;
    background:url("images/lizard.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxLizard:hover {
      width: 260px;
      height: 202px;
      background:url("images/lizardpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxLobster
  {
    width: 260px;
    height: 202px;
    background:url("images/lobster.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxLobster:hover {
      width: 260px;
      height: 202px;
      background:url("images/lobsterpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxMonkey
  {
    width: 260px;
    height: 202px;
    background:url("images/monkey.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxMonkey:hover {
      width: 260px;
      height: 202px;
      background:url("images/monkeypressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxMosquito
  {
    width: 260px;
    height: 202px;
    background:url("images/mosquito.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxMosquito:hover {
      width: 260px;
      height: 202px;
      background:url("images/mosquitopressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxMouse
  {
    width: 260px;
    height: 202px;
    background:url("images/mouse.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxMouse:hover {
      width: 260px;
      height: 202px;
      background:url("images/mousepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxOctopus
  {
    width: 260px;
    height: 202px;
    background:url("images/octopus.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxOctopus:hover {
      width: 260px;
      height: 202px;
      background:url("images/octopuspressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxOstrich
  {
    width: 260px;
    height: 202px;
    background:url("images/ostrich.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxOstrich:hover {
      width: 260px;
      height: 202px;
      background:url("images/ostrichpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxOwl
  {
    width: 260px;
    height: 202px;
    background:url("images/owl.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxOwl:hover {
      width: 260px;
      height: 202px;
      background:url("images/owlpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxParrot
  {
    width: 260px;
    height: 202px;
    background:url("images/parrot.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxParrot:hover {
      width: 260px;
      height: 202px;
      background:url("images/parrotpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxPeacock
  {
    width: 260px;
    height: 202px;
    background:url("images/peacock.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxPeacock:hover {
      width: 260px;
      height: 202px;
      background:url("images/peacockpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxRabbit
  {
    width: 260px;
    height: 202px;
    background:url("images/rabbit.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxRabbit:hover {
      width: 260px;
      height: 202px;
      background:url("images/rabbitpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxRat
  {
    width: 260px;
    height: 202px;
    background:url("images/rat.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxRat:hover {
      width: 260px;
      height: 202px;
      background:url("images/ratpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxRhino
  {
    width: 260px;
    height: 202px;
    background:url("images/rhino.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxRhino:hover {
      width: 260px;
      height: 202px;
      background:url("images/rhinopressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxRooster
  {
    width: 260px;
    height: 202px;
    background:url("images/rooster.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxRooster:hover {
      width: 260px;
      height: 202px;
      background:url("images/roosterpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxSeahorse
  {
    width: 260px;
    height: 202px;
    background:url("images/seahorse.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxSeahorse:hover {
      width: 260px;
      height: 202px;
      background:url("images/seahorsepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxSeastar
  {
    width: 260px;
    height: 202px;
    background:url("images/seastar.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxSeastar:hover {
      width: 260px;
      height: 202px;
      background:url("images/seastarpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxShark
  {
    width: 260px;
    height: 202px;
    background:url("images/shark.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxShark:hover {
      width: 260px;
      height: 202px;
      background:url("images/sharkpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxAlligator
  {
    width: 260px;
    height: 202px;
    background:url("images/alligator.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxAlligator:hover {
      width: 260px;
      height: 202px;
      background:url("images/alligatorpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxSheep
  {
    width: 260px;
    height: 202px;
    background:url("images/sheep.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxSheep:hover {
      width: 260px;
      height: 202px;
      background:url("images/sheeppressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxShrimp
  {
    width: 260px;
    height: 202px;
    background:url("images/shrimp.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxShrimp:hover {
      width: 260px;
      height: 202px;
      background:url("images/shrimppressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxSnake
  {
    width: 260px;
    height: 202px;
    background:url("images/snake.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxSnake:hover {
      width: 260px;
      height: 202px;
      background:url("images/snakepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxSpider
  {
    width: 260px;
    height: 202px;
    background:url("images/spider.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxSpider:hover {
      width: 260px;
      height: 202px;
      background:url("images/spiderpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxSquid
  {
    width: 260px;
    height: 202px;
    background:url("images/squid.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxSquid:hover {
      width: 260px;
      height: 202px;
      background:url("images/squidpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxSquirrel
  {
    width: 260px;
    height: 202px;
    background:url("images/squirrel.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxSquirrel:hover {
      width: 260px;
      height: 202px;
      background:url("images/squirrelpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxTiger
  {
    width: 260px;
    height: 202px;
    background:url("images/tiger.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxTiger:hover {
      width: 260px;
      height: 202px;
      background:url("images/tigerpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxTurkey
  {
    width: 260px;
    height: 202px;
    background:url("images/turkey.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxTurkey:hover {
      width: 260px;
      height: 202px;
      background:url("images/turkeypressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxTurtle
  {
    width: 260px;
    height: 202px;
    background:url("images/turtle.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxTurtle:hover {
      width: 260px;
      height: 202px;
      background:url("images/turtlepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxWalrus
  {
    width: 260px;
    height: 202px;
    background:url("images/walrus.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxWalrus:hover {
      width: 260px;
      height: 202px;
      background:url("images/walruspressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxWhale
  {
    width: 260px;
    height: 202px;
    background:url("images/whale.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxWhale:hover {
      width: 260px;
      height: 202px;
      background:url("images/whalepressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxWolf
  {
    width: 260px;
    height: 202px;
    background:url("images/wolf.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxWolf:hover {
      width: 260px;
      height: 202px;
      background:url("images/wolfpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxWorm
  {
    width: 260px;
    height: 202px;
    background:url("images/worm.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxWorm:hover {
      width: 260px;
      height: 202px;
      background:url("images/wormpressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxZebra
  {
    width: 260px;
    height: 202px;
    background:url("images/zebra.png") no-repeat center;
    background-size: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxZebra:hover {
      width: 260px;
      height: 202px;
      background:url("images/zebrapressedarabic.png") no-repeat center;
      background-size: 90%;
      margin-left: auto;
      margin-right: auto;
    }

.goback {
  margin: 5px 0 0 610px;
}

.homepage {
  margin: 5px -10 0 550px;
}
