table {
  width:40%;
  height:70%;
  border: 1px solid black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.imgBoxStar
    {
      width: 264px;
      height: 262px;
      background:url("images/star.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxStar:hover {
      width: 264px;
      height: 262px;
      background:url("images/stararabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxArrow
    {
      width: 264px;
      height: 262px;
      background: url("images/arrow.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxArrow:hover {
      width: 264px;
      height: 262px;
      background: url("images/arrowarabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxCircle
    {
      width: 264px;
      height: 262px;
      background: url("images/circle.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxCircle:hover {
      width: 264px;
      height: 262px;
      background: url("images/circlearabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxDiamond
    {
      width: 264px;
      height: 262px;
      background: url("images/diamond.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxDiamond:hover {
      width: 264px;
      height: 262px;
      background: url("images/diamondarabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxArrow
    {
      width: 264px;
      height: 262px;
      background: url("images/arrow.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxArrow:hover {
      width: 264px;
      height: 262px;
      background: url("images/arrowarabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxHeart
    {
      width: 264px;
      height: 262px;
      background: url("images/heart.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxHeart:hover {
      width: 264px;
      height: 262px;
      background: url("images/heartarabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxRectangle
    {
      width: 264px;
      height: 262px;
      background: url("images/rectangle.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxRectangle:hover {
      width: 264px;
      height: 262px;
      background: url("images/rectanglearabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxSquare
    {
      width: 264px;
      height: 262px;
      background: url("images/square.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxSquare:hover {
      width: 264px;
      height: 262px;
      background: url("images/squarearabic.png") no-repeat center;
      background-size: 90%;
    }

.imgBoxTriangle
    {
      width: 264px;
      height: 262px;
      background: url("images/triangle.png") no-repeat center;
      background-size: 90%;
    }
.imgBoxTriangle:hover {
      width: 264px;
      height: 262px;
      background: url("images/trianglearabic.png") no-repeat center;
      background-size: 90%;
    }

h2 {
  margin: 5px 0 0 135px;
}
