table {
  width:40%;
  height:70%;
  border: 1px solid black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.imgBoxBoy
  {
    width: 262px;
    height: 262px;
    background:url("images/boy.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxBoy:hover {
      width: 262px;
      height: 262px;
      background:url("images/boypressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxChef
  {
    width: 262px;
    height: 262px;
    background:url("images/chef.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxChef:hover {
      width: 262px;
      height: 262px;
      background:url("images/chefpressedarabic.png") no-repeat center;
      background-size: 60%;
    }

.imgBoxDoctor
  {
    width: 262px;
    height: 262px;
    background:url("images/doctor.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxDoctor:hover {
      width: 262px;
      height: 262px;
      background:url("images/doctorpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxFirefighter
  {
    width: 262px;
    height: 262px;
    background:url("images/firefighter.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxFirefighter:hover {
      width: 262px;
      height: 262px;
      background:url("images/firefighterpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxGirl
  {
    width: 262px;
    height: 262px;
    background:url("images/girl.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxGirl:hover {
      width: 262px;
      height: 262px;
      background:url("images/girlpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxJanitor
  {
    width: 262px;
    height: 232px;
    background:url("images/janitor.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxJanitor:hover {
      width: 262px;
      height: 232px;
      background:url("images/janitorpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxJudge
  {
    width: 262px;
    height: 262px;
    background:url("images/judge.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxJudge:hover {
      width: 262px;
      height: 262px;
      background:url("images/judgepressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxLawyer
  {
    width: 262px;
    height: 262px;
    background:url("images/lawyer.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxLawyer:hover {
      width: 262px;
      height: 262px;
      background:url("images/lawyerpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxMailman
  {
    width: 262px;
    height: 262px;
    background:url("images/mailman.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxMailman:hover {
      width: 262px;
      height: 262px;
      background:url("images/mailmanpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxMan
  {
    width: 262px;
    height: 262px;
    background:url("images/man.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxMan:hover {
      width: 262px;
      height: 262px;
      background:url("images/manpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxMechanic
  {
    width: 262px;
    height: 262px;
    background:url("images/mechanic.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxMechanic:hover {
      width: 262px;
      height: 262px;
      background:url("images/mechanicpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxOfficer
  {
    width: 262px;
    height: 262px;
    background:url("images/officer.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxOfficer:hover {
      width: 262px;
      height: 262px;
      background:url("images/officerpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxPilot
  {
    width: 262px;
    height: 262px;
    background:url("images/pilot.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxPilot:hover {
      width: 262px;
      height: 262px;
      background:url("images/pilotpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxTeacher
  {
    width: 262px;
    height: 262px;
    background:url("images/teacher.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxTeacher:hover {
      width: 262px;
      height: 262px;
      background:url("images/teacherpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxWaiter
  {
    width: 262px;
    height: 262px;
    background:url("images/waiter.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxWaiter:hover {
      width: 262px;
      height: 262px;
      background:url("images/waiterpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxWoman
  {
    width: 262px;
    height: 262px;
    background:url("images/woman.png") no-repeat center;
    background-size: 60%;
    margin-left: auto;
    margin-right: auto;
  }
.imgBoxWoman:hover {
      width: 262px;
      height: 262px;
      background:url("images/womanpressedarabic.png") no-repeat center;
      background-size: 60%;
      margin-left: auto;
      margin-right: auto;
    }

.imgBoxGoback {
    width: 262px;
    height: 262px;
}
